In [ ]:
print("hello","end",4.5,87,False)
print("hello world")

hello end 4.5 87 False
hello world

In [17]:
# Input
something=int(input("Enter something: "))
print(something-6)

-5

In [15]:
# Arthemetic Operators

# BEDMAS
x=10
y=3
print(x/y)
print(x//y)
print(x%y)
print(10.2%3)

3.3333333333333335
3
1
1.1999999999999993

In [18]:
# string
hello="hello world"
x=3
print(hello*x)

hello worldhello worldhello world

In [22]:
# if else elif

x=input("Enter a your name: ")
if x=="Ashfaq":
    print("Hello ASHFAQ")
elif x=="ashfaq":
    print("Hello ashfaq")
else:
    print("Hello nothing")

Hello nothing

In [44]:
# List and Tuples
# []->List->Mutable
#()->Tuples->Immutable
x=[4,"something",False]
x.append("nothing")
x.extend([4,5,6])
x.pop(0)

y=(0,0,2,2)
print(y)
print(x)

(0, 0, 2, 2)
['something', False, 'nothing', 4, 5, 6]

In [51]:
# for loop
# range function-> start,stop,step
for i in range(1,10):
    print(i,end=" ")
print("\n")
x=[1,2,3,4,5,6,7,8,9]
for i,element in enumerate(x):
    print(i,element)

1 2 3 4 5 6 7 8 9

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [57]:
# slice operator
# slice=[start:stop:step]

x=[1,2,3,4,5,6,7,8,9]
# slice=x[1:6:2]
slice=x[::-1]
print(slice)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
# set
x=set()
x.add(2)
x.add(1)
x.add(32)
s={32,5,6,1,5}
print(s)
print(x)

{32, 1, 5, 6}
{32, 1, 2}

In [66]:
# Dictionary
x={}
x["name"]="Ashfaq"
x ["age"]=20
del x["age"]
print(list(x.keys()))
print(x.values())

['name']
dict_values(['Ashfaq'])

In [68]:
# function
def hello(a,b):
    return a+b;

print(hello(2,3))

5

In [5]:
for i in range(0,10):
    if(not i&1):
       print(i)

0
2
4
6
8

In [2]:
user_input=int(input())

if(user_input%2==0):
    print(user_input)

In [2]:
count=1
test=int(input(f"{count+1} . enter a number:"))

In [7]:
if(not 1):
    print("hello")

In [8]:
print(3000-(125*3**2))

1875

In [15]:
a=3
if(4<=a<=6):
    print("Breakfast")

In [16]:
num1 = 10
num2 = -3
num3 = -1
sum = num1 + num2 + num3
if (num3 < 0):
    print(num3 * -2)
else:
    print(sum)
if (num1 < 5):
    print(num1 + 10)
elif (num2 == -3):
    num2 = num1
    print(num2)
else:
    print(num1 + num2 + num3)
if (num1 > 15):
    print(num1)
elif (num2 == 0):
    print(num2 + num3)
else:
    print(num3)
if (sum != 0):
    print(100)
else:
    print(sum + 100)
if (num1 > 0 and num2 < 0):
    print(num1 == num2)
else:
    print("False")

2
10
-1
100
False

In [18]:
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

False False True False False True False False False True

In [19]:
var1 = var2 = var3 = var4 = var5 = var6 = False 
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

False True True True True True False True True False

In [1]:
print ("Hello") 
x, y = 6, 10
print (x + y)
print (x**2)
print (y / 3)
print (y // 3)
print (y % y)
print (-5 / 2)
print (y > x)
print (y == x)
print (y >= x)
a = True
b = False 
print (a and b)
print (a and not b)
y = x
print (y)
x = x + 2
print (x)
print ( x*y**2)
print (x == y*2//2 - 2**(2-1))

Hello
16
36
3.3333333333333335
3
0
-2.5
True
False
True
False
True
6
8
288
False

In [ ]:
print ("Hello") 




print (4+5.5)


x, y = 6, 10




print (x - y)


print (x + y)




print (x * y)


print (x**2)




print (y ** x)


print (y / 3)




print (x % y)


print (y // 3)




print (y % x)


print (y % y)




print (y / y)


print (-5 / 2)




print (-5 // 2)


print (y > x)




print (x > y)


print (y == x)




print (y != x)


print (y >= x)




print (x <= y)


a = True
b = False 




print (a)
print ("b")


print (a and b)




print (a or b)


print (a and not b)




print (not a)


y = x




print (x)


print (y)




x -= 2


x = x + 2




x //= 1


print (x)




print (x != y and a)


print ( x*y**2)




print (x+5*4%2-1)


print (x == y*2//2 - 2**(2-1))




print (x - ((x+y%2) *3)//2)

In [3]:
sum=0
for i in range(1,75):
    if((i%9==0 or i%7==0) and not(i%9==0 and i%7==0)):
        sum+=i
print(sum)

583